<div>
  <h1>Tell us your last gossip !</h1>
  <%= form_for @gossip, :url => gossips_path do |f| %>
    <% if @user %>
      <%= hidden_field_tag :user_id, @user.id %>
    <% else %>
      <div class="field">
        <%= f.label :anonymous_gossiper %><br>
        <%= f.text_field :anonymous_gossiper %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>