<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

  <body>
    <%= render :partial => "layouts/header", :user => @user %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
